body {
  background-color: #c8c8c8;
  font-family: "Poppins" !important;
  color: #212529;
}

.first-section {
  position: relative; /* Set the container as relative position */
}

.first-section img {
  width: 100%;
  height: auto;
}

.text-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

h1 {
  font-size: 80px !important;
}

h2 {
  font-weight: 100;
  font-size: 38px !important;
  margin-bottom: 15px !important;
}

.second-section {
  text-align: center;
  margin-top: 50px;
}

.second-section img {
  width: 400px;
  height: auto;
  border-radius: 3px;
}

h3 {
  font-size: 32px !important;
}

.horario {
  font-size: 24px;
}

button {
  display: block;
  border-radius: 4px;
  margin: 30px !important;
  padding: 12px 50px !important;
}

.direçoes {
  color: #c8c8c8 !important;
}

.item img {
  width: 400px;
  height: auto;
  border-radius: 3px;
}

.third-section {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 60vh;
  width: 600px;
  border-radius: 4px;
  margin: 0 auto;
}

.carousel-item img {
  width: 600px;
  height: 400px;
  object-fit: cover;
  margin: 0 auto;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.photo-head {
  text-align: center;
  background-color: #212529;
  color: #c8c8c8;
  margin: 0;
  padding: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.second-section,
.third-section,
.fourth-section,
.fifth-section,
.sixth-section {
  margin: 40px auto;
  max-width: 900px;
}

.fourth-section h3,
.fifth-section h3 {
  text-align: center;
}

.fourth-section p {
  text-align: justify;
  margin-top: 30px;
}

.presentes {
  text-align: justify;
}

.grelha {
  margin-top: 40px;
}

.hoteis {
  font-weight: 600;
  margin-top: 20px !important;
}

.stay {
  width: 100%;
}

.ficar {
  text-align: center !important;
  margin: 15px 0;
}

.onde {
  margin: 10px 0 !important;
  text-align: justify;
  font-size: 13px;
}

.RSVP {
  text-align: center;
}

.formulario {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.confirma {
  font-size: 14px;
}

.confirmações {
  font-size: 12px;
  font-weight: bold;
}

.iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
